
.item-preview-img {
	width: 250px;
	height: 250px;
	background: #fff;
	overflow: hidden;
}

.item-preview-overlay {
/* padding-left: 100px; */
	padding-top: 110px;
	position: relative;
	width: 250px;
	height: 250px;
	top:-250px;
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	z-index: 999;
}

.item-preview-overlay:hover {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.item-preview-img img {
	width: 250px;
	height: 250px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	z-index: -1;
}

.item-preview-img:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.item-preview-overlay:hover .item-preview-button {
	opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.item-preview-button {
	opacity: 0;
	font-size: 10px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 20px;
	padding: 8px 10px;
	border: solid 2px #fff;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.item-preview-button:hover {
	background-color: #1a86f6;
	border: solid 2px #1a86f6;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.item-preview-name {
	width: 250px;
	font-size: 14px;
	font-weight: 700;
}